body {
  padding-top: 5rem;  
}
h1{
	color:#0080ff;
	font-family: sans-serif;
    font-size: 1.5em;
    text-align: center;
}
p{
	color:#ff0000;
	font-family: sans-serif;
	font-size: 1.5em;
}
div {
  padding: 3rem 1.5rem;
  text-align: center;
}
table {     
	width: 40%;                        
	border-collapse:collapse;
	margin: auto;
 }
 
td {    
	border: 0.1em solid;
	text-align: center;
 }
 
th {    
	border: 0.1em solid;
	text-align: center;
}

